*.class
target/
effective.pom
dependency-reduced-pom.xml
.settings/
.classpath
.project
.idea/
*.iml
node_modules/
src/main/go/bin
src/main/go/src/github.com
src/main/go/src/pacman/pacman
src/main/python/__pycache__/
*.pyc
.vscode/
*.code-workspace
.ropeproject
.scannerwork
.coverage
coverage.xml
