matrix:
  exclude:
    - language: ruby
      dist: precise
  include:
    - language: java
      jdk: openjdk8
      before_install:
        - make deps-java
      script: 
        - make java
      after_success:
        - make coverage-java
      cache:
        directories:
        - "$HOME/.m2"
        - "$HOME/.sonar/cache"
      before_cache:
        - rm -rf $HOME/.m2/repository/io/cucumber
      sudo: true
      dist: trusty
      addons:
        sonarcloud:
          organization: "pacman-kata"
    - language: go
      go:
        - "1.10"
      go_import_path: src/main/go
      script: 
        - make go
      after_success:
        - cd src/main/go && make coverage
      sudo: true
      dist: trusty
      addons:
        sonarcloud:
          organization: "pacman-kata"
    - language: node_js
      node_js:
        - "9.3.0"
      script: 
        - make node
      after_success:
        - cd src/main/node && make coverage
      sudo: true
      dist: trusty
      addons:
        sonarcloud:
          organization: "pacman-kata"
    - language: python
      python:
        - "3.6"
      install:
        - pip install -r src/main/python/requirements.txt
        - pip install -r src/main/python/requirements-test.txt
      script: 
        - make python
      after_success:
        - cd src/main/python && make coverage
      sudo: true
      dist: trusty
      addons:
        sonarcloud:
          organization: "pacman-kata"
        
