matrix:
  exclude:
    - language: ruby
      dist: precise
  include:
    - language: java
      jdk: openjdk8
      script: make local-java
      cache:
        directories:
        - "$HOME/.m2"
        - "$HOME/.sonar/cache"
      before_cache:
        - rm -rf $HOME/.m2/repository/io/cucumber
      sudo: false
      dist: trusty
      addons:
        sonarcloud:
          organization: "pacman-kata"
    - language: go
      go:
        - "1.10"
      install: 
        - go get -v github.com/schrej/godacov
        - pwd; ls -l
      script: make local-go
      sudo: false
      dist: trusty
      addons:
        sonarcloud:
          organization: "pacman-kata"
    - language: node_js
      node_js:
        - "9.3.0"
      script: make local-node
      sudo: false
      dist: trusty
      addons:
        sonarcloud:
          organization: "pacman-kata"
    - language: python
      python:
        - "3.6"
      install:
        - pip install -r src/main/python/requirements.txt
        - pip install -r src/main/python/requirements-test.txt
      script: 
        - make local-python
      sudo: false
      dist: trusty
      addons:
        sonarcloud:
          organization: "pacman-kata"
        
